{% extends 'layouts/a.html' %}

{% block content %}
    <h1 class="text-[#0e3963] font-bold text-4xl text-center mb-5">SFCC XML Manager</h1>
    <h2 class="text-[#0e3963] font-bold text-2xl text-center">Upload your catalog or library export</h2>
    {% include 'partials/upload_xml_form.html' %}

    <div class="text-center font-semibold text-2xl my-10">Previous uploads:</div>
    {% for xml in xmls  %}
        <div class="flex justify-center">
            {{xml.file_name}}
        </div>
    {% endfor %}
    
{% endblock %}

